<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Page</title>
</head>
<body>
    <form action="/search-movie" method="post">
        <label for="movieName">Search Movie :</label>
        <input type="text" id="movieName" name="movieName">
        <button>Search</button>
    </form>

    <form action="/add-movie" method="get">
        <button>Add Movie</button>
    </form>

    <form action="/add-timing" method="get">
        <button>Add Timing</button>
    </form>

    <form action="/buy-ticket" method="get">
        <button>Buy Ticket</button>
    </form>

</body>
</html>